<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Foo</key>
	<string>Bar</string>
	<key>emptyValue</key>
	<string></string>
	<key>Baz</key>
	<array>
		<string>hello</string>
		<string>property</string>
		<string>lists</string>
	</array>
</dict>
</plist>
