<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGetizer CI Builds" value="https://ci.appveyor.com/nuget/nugetizer3000" />
    <add key="WinObjC-CI" value="https://microsoft.pkgs.visualstudio.com/_packaging/WinObjC-CI/nuget/v3/index.json" />
    <add key="Local WinObjC Tools Packages" value="..\..\tools\OutputPackages\Release\" />
    <add key="Local WinObjC Tools Packages - DEBUG" value="..\..\tools\OutputPackages\Debug\" />
    <add key="Local WinObjC Frameworks Packages" value="..\..\build\OutputPackages\Release\" />
    <add key="Local WinObjC Frameworks Packages - DEBUG" value="..\..\build\OutputPackages\Debug\" />
  </packageSources>
</configuration>